---
import Image from '@/components/Image.astro';
import Gradient from '@/components/TextGradient.astro';
import PresentationLayout from '@/layouts/PresentationLayout.astro';
import MinionCode from '@/components/MinionCode.astro';
import SlideColumns from '@/components/SlideColumns.astro';
import Code from '@/components/Code.astro';

import '@/styles/presentation.css';

import imgJohn from '@/assets/img-john-natalia.jpg';
import imgPumpkin from '@/assets/minions-pumpkin.png';
import imgNatalia from '@/assets/img-natalia-typing.jpg';
import imgDogGif from '@/assets/gif-dog-typing.gif';
import imgScreenshot from '@/assets/screenshot-nataliasdad.png';
import imgRpi from '@/assets/electronic-connections.jpg';

const code = `<h4 class="font-bold text-white" id="title">
    Most websites are built with
</h4>

<style>
.font-bold {
    font-weight: bold;
}
.text-white {
    color: white;
}
</style>

<script>
document
    .getElementById('title')
    .addEventListener('click', (e) => {
        e.target.style.color = randomColor();
        e.target.classList.add('animate-wiggle');
    });
</script>`;
---

<PresentationLayout>

    <section xdata-background-gradient="linear-gradient(to bottom right, #1e3a8a, #1e1a78, #4c0d2e)">

        <h1 class="!normal-case">
            <Gradient c="green">Hi class!</Gradient> 👋
        </h1>

        <p>
            I'm Natalia's Dad
        </p>

    </section>

    <section xdata-background-gradient="linear-gradient(to bottom right, #1e3a8a, #1e1a78, #4c0d2e)">

        <p>
            My name is <span class="text-teal-500 font-bold">John</span>
        </p>

        <p>
            <Image
                src={imgJohn}
                alt="John"
                width="400"
            />
        </p>

    </section>

    <section>

        <p class="text-gray-400 text-3xl">
            My job is a
        </p>

        <h2 class="r-fit-text !normal-case">
            <Gradient c="bluegreen">
                Software Engineering Manager
            </Gradient>
        </h2>

    </section>

    <section>

        <dl>

            <dt class="text-7xl">
                <Gradient c="bluegreen">
                    Software
                </Gradient>
            </dt>

            <dd>
                A set of instructions that a person gives a computer to tell it what to do.
            </dd>

            <dt class="text-7xl mt-7">
                <Gradient c="bluegreen">
                    Engineering
                </Gradient>
            </dt>

            <dd>
                The practice of solving problems with technology.
            </dd>

            <dt class="text-7xl mt-7">
                <Gradient c="bluegreen">
                    Manager
                </Gradient>
            </dt>

            <dd>
                Someone who helps people do their job and find ways to keep them learning new things.
            </dd>

        </dl>

    </section>

    <section>

        <p>
            <Gradient c="bluegreen">Software Engineering Managers</Gradient> write <Code /> and help others who write code create <Gradient c="red">websites</Gradient> and <Gradient c="orange">apps</Gradient> for <Gradient c="purple">computers</Gradient>, <Gradient c="blue">phones</Gradient>, and <Gradient c="yellow">tablets</Gradient>.
        </p>

    </section>

    <section>
        <h1>What is code?</h1>
    </section>

    <section>

        <ul class="text-3xl">
            <li>
                Code is a way to tell computers how to do something in a language they understand
            </li>
            <li>
                It's not too different from speaking a language other than English
            </li>
            <li>
                There are a lot of coding languages you can learn. Some of them are:
                <ul>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Rust</li>
                    <li>Go</li>
                    <li>HTML/CSS</li>
                </ul>
            </li>
            <li>
                <Gradient c="bluegreen">Software Engineers</Gradient> type the code into a computer and it understands what to do and how to make things work and look.
            </li>
        </ul>

    </section>

    <section>

        <SlideColumns>

            <img src={imgDogGif.src} width="450" class="rounded-lg shadow-lg" />

            <div class="text-left">

                <h3 class="!normal-case !text-4xl">
                    Why do I love my job?
                </h3>

                <ul class="text-2xl">
                    <li>I get to be <Gradient c="red">creative</Gradient> every day</li>
                    <li>I'm always learning <Gradient c="blue">something new</Gradient></li>
                    <li>I <Gradient c="green">solve problems</Gradient></li>
                    <li>I <Gradient c="pink">make things</Gradient> that people use</li>
                    <li>I can use what I learn at work for <Gradient c="yellow">fun stuff</Gradinet> at home. Like....</li>
                </ul>
            </div>



        </SlideColumns>

    </section>

    <section>

        <h1 class="!mb-0">
            Remember this? 🎃
        </h1>

        <Image
            src={imgPumpkin}
            alt="pumpkin"
            class="!mt-0"
        />

    </section>

    <section>

        <p class="text-4xl">
            I did that by writing <Code /> and running it on a small computer called a <Gradient c="red">Raspberry Pi</Gradient> with a small round screen
        </p>

        <SlideColumns>

            <pre class="sm:!w-1/2 !text-xs/normal">
                <MinionCode />
            </pre>

            <Image
                src={imgRpi}
                alt="Raspberry Pi"
                width="450"
                hideShadow
                class="sm:object-contain"
            />

        </SlideColumns>

    </section>

    <section>

        <SlideColumns>

            <div class="text-left">

                <h3 class="!normal-case !text-3xl">
                    How to become a <Gradient c="bluegreen">Software Engineer</Gradient>?
                </h3>

                <ul class="text-2xl">
                    <li>Learn to <Gradient c="pink">use computers</Gradinet> at school or at home</li>
                    <li>Ask your <Gradient c="green">STEM</Gradinet> teacher about coding</li>
                    <li>Play <Gradient c="red">coding games</Gradient> at home like <a href="https://scratch.mit.edu/" target="_blank">Scratch</a> and <a href="https://www.roblox.com/">Roblox</a></li>
                    <li>Practice solving problems and being creative</li>
                    <li>Study <Gradient c="yellow">Math</Gradient> and <Gradient c="yellow">Computer Science</Gradient></li>
                </ul>
            </div>

            <Image
                src={imgNatalia}
                alt="Natalia"
                width="400"
                class="!m-0"
            />

        </SlideColumns>

    </section>

    <section>

        <h1 class="r-fit-text">
            What about websites?
        </h1>

    </section>

    <section>

        <h4 class="!normal-case cursor-pointer select-none" id="slide-title-web-langs">
            Most websites are built with
        </h4>

        <SlideColumns>

            <div class="text-left">

                <div data-fragment-lines="1-3">

                    <dt>
                        <Gradient c="orange"><strong>HTML</strong></Gradient>
                        <span class="text-xs text-slate-400">(Hypertext Markup Language)</span>
                    </dt>

                    <dd class="text-2xl mb-7 !ms-0">
                        The building blocks (like digital LEGO pieces)
                    </dd>

                </div>

                <div class="opacity-20" data-fragment-lines="5-12">

                    <dt>
                        <Gradient c="purple"><strong>CSS</strong></Gradient>
                        <span class="text-xs text-slate-400">(Cascading Style Sheets)</span>
                    </dt>

                    <dd class="text-2xl mb-7 !ms-0">
                        The colors and decorations (makes things pretty!)
                    </dd>

                </div>

                <div class="opacity-20" data-fragment-lines="14-20">

                    <dt>
                        <Gradient c="green"><strong>JavaScript</strong></Gradient>
                    </dt>

                    <dd class="text-2xl !ms-0">
                        The magic that makes things move and work
                    </dd>

                </div>

            </div>

            <script>
                import { randomGradient } from '@/scripts/gradients.ts';
                window.addEventListener('DOMContentLoaded', () => {
                    document.getElementById('slide-title-web-langs').addEventListener('click', (e) => {
                        const $element = e.target;

                        $element.className = `animate-jiggle !normal-case cursor-pointer select-none bg-clip-text !text-transparent drop-shadow-sm ${randomGradient()}`;

                        $element.addEventListener('animationend', function handleAnimationEnd() {
                            $element.classList.remove('animate-jiggle');
                            $element.removeEventListener('animationend', handleAnimationEnd);
                        });
                    });
                });
            </script>

            <pre class="sm:!w-1/2 !text-xs/normal"><code data-line-numbers="1-3|5-12|14-20|1-20">{code}</code></pre>

        </SlideColumns>

    </section>

    <section>

        Let's build a website together!

        <a href="/">
            <Image
                src={imgScreenshot}
                hideShadow
                alt="NataliasDad.com"
                width="800"
            />
        </a>

    </section>

    <section>

        <h1 class="normal-case">
            But, first...<br />any questions?
        </h1>

    </section>


</PresentationLayout>
